/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[探]Logs/
/[Mm]emoryCaptures/
/[Aa]ssetViewerStats/

# Unity 가 생성하는 프로젝트 파일들
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svclog
*.pdb
*.opendb
*.IDB

# 에셋 스토어 패키지 관련 캐시
/[Aa]ssets/AssetStoreTools*

# OS 관련 임시 파일
.DS_Store
Thumbs.db

# 빌드 결과물
/[Bb]uild/
/[Bb]uilds/